*{
    margin: 0;
    padding: 0;
}

.logo-navbar {
    width: 100px;
}

.navbar {
    background-color: black;
    opacity: 0.85;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-links {
    display: flex;
    align-items: stretch;
}

.navbar-item {
    display: flex;
    color: #f2f2f2f2;
    text-align: center;
    align-items: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'montserrart', sans-serif;
}
.navbar a.active {
    background-color:#ffcc80;
    color: black;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}